force-app/main/default/flows/Zip_Code_Container_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Country_Info_From_Zip_Code_Action_1</name>
        <label>Get Country Info From Zip Code Action 1</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <actionName>ZipCodeAPIExternalService.GetCountryInfoFromZipCode</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>countryInfoResultCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Country_Code</name>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Zip_Code</name>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZipCodeAPIExternalService.GetCountryInfoFromZipCode</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AssignPlace</name>
        <label>AssignPlace</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varPlace.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces.placex20name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.state__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.State_Abbreviation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces.statex20abbreviation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.longitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces.longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPlaceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPlace2</name>
        <label>AssignPlace2</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varPlace.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces2.placex20name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.state__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces2.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.State_Abbreviation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces2.statex20abbreviation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.Latitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces2.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlace.longitude__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughPlaces2.longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_AssignPlaceCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPlaceCollection</name>
        <label>AssignPlaceCollection</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPlace</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPlaces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignPlaceCollection</name>
        <label>Copy 1 of AssignPlaceCollection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPlace</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughPlaces2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>countryInfoResultCheck</name>
        <label>countryInfoResultCheck</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_Info_From_Zip_Code_Action_1.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Country_Info_From_Zip_Code_Action_1.2XX.countryx20abbreviation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughPlaces2</targetReference>
            </connector>
            <label>US Country</label>
        </rules>
        <rules>
            <name>Non_US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_Info_From_Zip_Code_Action_1.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Country_Info_From_Zip_Code_Action_1.2XX.countryx20abbreviation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Country</targetReference>
            </connector>
            <label>Non US Country</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Zip Code Container Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Zip Code Container Flow</label>
    <loops>
        <name>LoopThroughPlaces</name>
        <label>LoopThroughPlaces</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Test</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPlace</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Non_US_Country_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughPlaces2</name>
        <label>LoopThroughPlaces2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Test</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPlace2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>US_Country_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Country</name>
        <label>Create Country</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>LoopThroughPlaces</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Country_Info_From_Zip_Code_Action_1.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Code__c</field>
            <value>
                <elementReference>Get_Country_Info_From_Zip_Code_Action_1.2XX.postx20code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>countryabbreviation__c</field>
            <value>
                <elementReference>Get_Country_Info_From_Zip_Code_Action_1.2XX.countryx20abbreviation</elementReference>
            </value>
        </inputAssignments>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(225, 16, 16); font-size: 14px;&quot;&gt;Error: Status Code:{!Get_Country_Info_From_Zip_Code_Action_1.responseCode}. {!Get_Country_Info_From_Zip_Code_Action_1.defaultExc}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_US_Country_Screen</name>
        <label>Non US Country Screen</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_countryinfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Non US country information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Note: the non US country saved from backend in custom object Country__c&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Country: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.country}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country Abbreviation: &lt;/strong&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.countryx20abbreviation}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Post Code: &lt;/strong&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.postx20code}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Place Name: &lt;/strong&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.places}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PlacesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Place__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Non Us Place Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7481&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Places Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;state__c&quot;,&quot;guid&quot;:&quot;column-764d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;State_Abbreviation__c&quot;,&quot;guid&quot;:&quot;column-0537&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;State Abbreviation&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;longitude__c&quot;,&quot;guid&quot;:&quot;column-dca9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;longitude&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Latitude__c&quot;,&quot;guid&quot;:&quot;column-cda9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Latitude&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>varCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPlace.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>US_Country_Screen</name>
        <label>US Country Screen</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>countryinfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;US country information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Country: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.country}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Country Abbreviation: &lt;/strong&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.countryx20abbreviation}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Post Code: &lt;/strong&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.postx20code}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Place Name: &lt;/strong&gt;{!Get_Country_Info_From_Zip_Code_Action_1.2XX.places}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PlacesTable2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Place__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>US Place Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7c73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Places Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;state__c&quot;,&quot;guid&quot;:&quot;column-4809&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;State_Abbreviation__c&quot;,&quot;guid&quot;:&quot;column-62b5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;State Abbreviation&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;longitude__c&quot;,&quot;guid&quot;:&quot;column-5308&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;longitude&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Latitude__c&quot;,&quot;guid&quot;:&quot;column-5b28&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Latitude&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varPlace.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ZipCodeContainer</name>
        <label>ZipCodeContainer</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Country_Info_From_Zip_Code_Action_1</targetReference>
        </connector>
        <fields>
            <name>ZipCodeSection</name>
            <fieldText>&lt;h2&gt;&lt;strong&gt;Zip Code Container&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Country_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>us</stringValue>
            </defaultValue>
            <fieldText>Country Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Find Country Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ZipCodeContainer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Test</name>
        <apexClass>ExternalService__ZipCodeAPIExternalService_GetCountryInfoFromZipCode_OUT_2XX_places</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test2</name>
        <apexClass>ExternalService__ZipCodeAPIExternalService_GetCountryInfoFromZipCode_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Place__c</objectType>
    </variables>
    <variables>
        <name>varPlace</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Place__c</objectType>
    </variables>
</Flow>
